

@font-face {
    font-family: 'lucida_handwritingitalic';
    src: url('../fonts/lucida_handwriting_italic-webfont.woff2') format('woff2'), url('fonts/lucida_handwriting_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: cursive;
}

body, html{
    height: 100%;
}

.parallax1 {
    background-image: url(../images/aboutus.jpg);
    height: 75%;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url(../images/mission.jpg);
    height: 75%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url(../images/vision.jpg);
    height: 75%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paral {
    position: absolute;
    top: 65%;
    left: 15%;
    opacity: 1;
    color: #ffffff;
    font-size:35pt;
}

.head {
    text-align: center;
    font-family: 'lucida_handwritingitalic';
    font-size: 28pt;
    color: #F58634;
}

.detail {
    padding: 5% 6%;
    opacity: .85;
    text-align: justify;
}

.panel,
.panel-heading,
.panel-body {
    border: none;
    box-shadow: none;
}

.panel-body {
    font-size: 14pt;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    cursor: context-menu;
    
}

.panel-default .panel-heading {
    color: #F58634;
    background-color: #ffffff;
    font-size: 22pt;
    font-weight: bold;
}
.panel-heading {
    font-family: 'Raleway', sans-serif; 
    text-align: center;
    /*font-family: 'lucida_handwritingitalic';*/
}

ul{
    list-style: none;
}

div.panel-body ul li::before{
    font-family: 'FontAwesome';
    content: '\f138';
    color: #F58634;
    margin:0% 1% 0% -2.5%;
}
