.parallax {
    /* The image used */
    background-image: url("../images/contactus.jpg");

    /* Set a specific height */
    height: 75%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body,html{
    height: 100%;
}
body{
    overflow-x: hidden;
}
.paral {
    position: absolute;
    top: 55%;
    left: 15%;
    opacity: 1;
    color: #ffffff;
    font-size: 35pt;
}
.container{
    margin-top: 5%;
}
.info-head{
    font-family: 'Raleway' , sans-serif;
    color: orange;
    font-weight: bold;
}
.info-info{
    font-family: 'Nunito' , sans-serif;
    
}
.info-icon{
    color: orange;
    font-size: 250%;
    padding-right: 3%;
}
#map-space{
    height: 230px;
    width: 100%;
}
