body {margin:0;font-family:Verdana,sans-serif;}

.topnav1 {
  overflow: hidden;
  background-color: white;
}
#changing{
    display: none;
}
#changing2{
  float: right;
}
@media screen and (max-width:1050px ){
    #changing{
      display: inline-block;
        margin-left: 0px;
    }
    #changing2{
      display: none;
    }
    #news{
      clear: left;
    }
}
@media screen and (max-width:450px ){
    #changing{
      display: inline-block;
      margin-left: 0px;
    }
    #changing2{
      display: none;
    }
    #news{
      clear: left;
    }
    .topnav1 img{
      height: 100%;
    }
}

@media screen and (max-width:1024px ){
    #changing{
      display: inline-block;
      margin-left: 0px;
    }
    #changing2{
      display: none;
    }
    #news{
      clear: left;
    }
    .topnav1 img{
        width: 50%;
        
    }
}

.topnav1 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  background-color: white;
  color: black;
}

.topnav1 .icon {
  display: none;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 2%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav1 a:hover, .dropdown1:hover .dropbtn {
  background-color: #f6f6f6;
  color: black;
}

.dropdown1-content a:hover {
    background-color: white;
    color: black;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

@media screen and (max-width: 1050px) {
  .topnav1 a:not(:first-child), .dropdown1 .dropbtn {
    display: none;
  }
  .topnav1 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .topnav1.responsive {position: relative;}
  .topnav1.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav1.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav1.responsive .dropdown1 {float: none;}
  .topnav1.responsive .dropdown1-content {position: relative;}
  .topnav1.responsive .dropdown1 .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
