

.carousel-bg .carousel-inner .item {
    background-color: darkslategrey;
    background-size: cover;
    background-position: center;
    min-height: 360px;
}
.slide{ 
    margin-top: 80px;
}
.details {
    margin: 50px 0; }
.details h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 3px; }
.details .back-link {
    text-align: center; }
.details .back-link a {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 30px;
    background: #333;
    color: #fff;
    border-radius: 24px; }
.details .back-link a svg {
    margin-right: 10px;
    vertical-align: text-top;
    display: inline-block; }
.item{
    background-attachment: fixed;
}
.info-head{
    padding-left: 3%;
    color: orange;
    font-family: 'Raleway' , sans-serif;
    
}
div#info ul{
    list-style: none;
}
div#info ul li{
    padding-top: 1%;
    justify-content: flex-start
}
div#info ul li::before{
    font-family: 'FontAwesome';
    content: '\f138';
    color: #F58634;
    margin:0% 1% 0% -2.5%;
    
}
div#info ul li ul li::before{
    font-family: 'FontAwesome';
    content: '\f101';
    color: #F58634;
    margin:0% 1% 0% -1.5%;
    
}
#info{
    font-size: 14pt;
}
