@font-face {
    font-family: 'lucida_handwritingitalic';
    src: url('../fonts/lucida_handwriting_italic-webfont.woff2') format('woff2'), url('fonts/lucida_handwriting_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: cursive;
}

body, html{
    height: 100%;
}

.services_top {
    opacity: 1;
    position: absolute;
    top: 65%;
    left: 15%;
    color: #ffffff;
    font-size: 35pt;
}

.space {
    padding-top: 5%;
    height: 50%;
}

.parallax {
    background-image: url(../images/projects.jpg);
    height: 75%;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.panel,
.panel-heading,
.panel-body {
    border: none;
    box-shadow: none;
}

.panel-body {
    font-size: 14pt;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    
}

.panel-default .panel-heading {
    color: #F58634;
    background-color: #ffffff;
    font-size: 22pt;
    font-weight: bold;
}

.panel-heading {
    font-family: 'Raleway', sans-serif;
    border-bottom: solid;
    /*font-family: 'lucida_handwritingitalic';*/
}
ul{
    list-style: none;
}


div.panel-body ul li::before{
    font-family: 'FontAwesome';
    content: '\f138';
    color: #F58634;
    margin:0% 1% 0% -2.5%;
}

div.panel-body ul li:hover{
    opacity: .65;
    font-size: 14.5pt;
    cursor: context-menu;
    /*background-color: rgba(240, 128, 36, 0.377);*/
    
}

div.panel-body ul li{
    transition: opacity 0.05s;
    transition: font-size 0.05s;
    transition-timing-function: linear;
    padding-top: .75%;
}

.fa{
    color:  #F58634;
    margin:0% 1% 0% 1%;
}
